html {scroll-behavior: smooth; }
body{overflow-x: hidden; letter-spacing: 0px;}
img{max-width: 100%;}
.form-control{outline: none !important; box-shadow: none !important;}
p{line-height: 24px; margin-bottom: 15px;}
p:last-child{margin-bottom: 0px !important;}
.enquire-btn{margin-left: 30px;}
.enquire-btn button{background: #179A9D; border-radius: 8px; color: #fff; padding: 14px; min-width: 140px; border: none;
transition: all 0.3s ease-in-out;}
.enquire-btn button:hover{background: #296D68;}
.top-header{background: #F2F7F3; padding: 10px 0px;}
.top-header i{width: 30px; height: 30px; line-height: 30px; text-align: center; background: #179A9D; color: #fff; border-radius: 5px;
margin-left: 5px; border: 1px solid #179A9D;}
.top-header i:hover{background: none; color:#179A9D;}
section{position: relative; padding: 70px 0px; overflow: hidden;}
.bt-main{border: none; min-width: 160px; height: 45px; background: #fff; border-radius: 8px; box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 6%);
color: #179A9D; font-size: 16px; padding: 0px 14px;}
.curve-overlay{position: absolute; top: 0px; right: 0px; z-index: -1;}
.curve-overlay.leftt{right: auto; left: 0px; transform: rotateY(180deg);}
h2{margin: 20px 0px; font-weight: 700; font-size: 30px;}
h2 span{color: #179A9D;}
.our-story p{text-align: justify;}
.bt-secondary{font-size: 14px; color: #fff; background: #296D68; margin: 20px 0px;}
.bt-secondary i{padding-left: 5px;}
.bt-secondary:hover{background: #fff; color: #179A9D; box-shadow:3px 3px 3px 0px rgba(50, 50, 50, 0.25);}
.our-story-img{position: relative; overflow: hidden; border-radius: 10px; margin-top: 20px; border-top-right-radius: 72px;}
.our-story h3{color: #179A9D; font-weight: 700; font-size: 24px; margin-bottom: 20px;}
.our-story .why-choose-nmuber{width: 36px; height: 36px; background: #fff; padding: 6px; border-radius: 50%; border: 1px solid #179A9D; text-align: center; position: absolute; left: 0px;}
.why-choose-nmuber .circles{background: #179A9D; color: #fff; width: 28px; height: 28px; border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); line-height: 30px; font-size: 16px; font-weight: 700; }
.our-story ul li{padding-left: 45px; position: relative; font-size: 13px; margin-bottom: 25px;}
.our-story ul li h5{padding-top: 6px; font-size: 14px; font-weight: 700; line-height: 24px;}
.rotate-180{bottom: 0px; top: auto; transform: rotateX(180deg);}
figure.effect-apollo img {width: 100%; opacity: 0.95; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s; -webkit-transform: scale3d(1.05,1.05,1);transform: scale3d(1.05,1.05,1);}
figure.effect-apollo figcaption::before {position: absolute;top: 0;left: 0;
width: 100%; height: 100%; background: rgba(255,255,255,0.5); content: ''; -webkit-transition: -webkit-transform 0.6s;
transition: transform 0.6s; -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);}
figure.effect-apollo:hover img {opacity: 0.6;-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}
figure.effect-apollo:hover figcaption::before {-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);}
.feature-box{background-color: #fff; cursor: pointer; transition: all 0.3s ease-in-out; padding:15px 10px; margin-top: 30px; box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 4%); text-align: center; border-radius: 6px;}
.feature-box h5{font-size: 14px; color: #179A9D;}
.feature-box img{margin-bottom: 15px;}
.feature-box:hover, .feature-box.active{background: #296D68;  transform: translateY(-10px); box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 10%);}
.feature-box:hover h5, .feature-box.active h5{color: #fff;}
.feature-box:hover img, .feature-box.active img{filter:  brightness(0) invert(1);}
.bg-colour{ background: #F2F7F3;}
.product-box, .testimonial-box, .count-box{background: #fff; box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 4%); position: relative; overflow: hidden; border-radius: 10px; border-top-right-radius: 75px;}
.product-content{padding: 20px; position: relative;}
.product-content h5{color: #179A9D; margin-bottom: 10px;}
.product-content p{color: #5A6671;}
.product-content h4{font-size: 14px; font-weight: 700; margin: 0px;}
.product-content h4 i{color: #179A9D; margin-right: 8px;}
.product-content button{background: #fff; color: #179A9D; border-radius: 30px; padding: 10px 14px; border: none; box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 4%);
font-size: 14px; font-weight: 700;}
.product-content button:hover{background: #179A9D; color: #fff; box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.25);}
.owl-stage-outer{padding-bottom: 30px;}
.product-image{position: relative; overflow: hidden;}
.product-image img{ height: 246px; object-fit: cover; transition: all ease-in 0.3s;}
.product-box:hover .product-image img{transform: scale(1.3); filter: hue-rotate(45deg);}
.owl-carousel .owl-prev, .owl-carousel .owl-next{position: absolute; left: -18px; top: 45%; width: 35px; height: 35px; border-radius: 50%; background: #fff;
color: #179A9D; text-align: center; line-height: 35px;  box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 6%);}
.owl-carousel .owl-next{right: -18px; left: auto;}
.owl-carousel .owl-prev:hover, .owl-carousel .owl-next:hover{background: #179A9D; color: #fff;}
.product-content .explore{position: absolute; right: 20px; background: #F5F5F5; width: 30px; height: 30px; line-height: 30px; 
color: #179A9D; text-align: center; border-radius: 30px; top: 15px;}
#topcontrol i{width: 35px; height: 35px; background: #fff; line-height: 35px; border-radius: 30px; color: #179A9D; box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 8%);
text-align: center;}
.product-content .explore:hover{background: #179A9D; color: #fff;}
.brd-top-lft-rd300{border-top-left-radius: 300px;}
.testimonial-box{padding: 30px 70px 70px 70px; margin-top: 10px; text-align: center;}
.testimonial-box-img{position: relative; overflow: hidden; margin-bottom: 15px;}
.testimonial-box-img img{border-radius: 100%; width: 72px !important; height: 72px !important; object-fit: cover;}
.testimonial-box h5{font-weight: 700; margin-bottom: 5px;}
.testimonial-box h6{font-size: 12px; color: #707070;}
.testimonial-box p{margin-top: 30px;}
.bquote{position: absolute; right: 5%; bottom: 10%;}
.bquote2{position: absolute; left: 5%; top: 40%; transform: rotate(180deg);}
.testimonial-carousel.owl-carousel .owl-item img{width: auto; display: inline-block;}
.bt-lft{top: auto; right: auto; left: 0px; bottom: 0px; transform: rotate(180deg);}
.count-box{padding: 20px; border-bottom: 4px solid #179A9D; text-align: center; color: #179A9D; transition: all 0.3s ease-in;}
.count-box h2{margin: 10px 0px;}
.count-box-img{width: 72px; height: 72px; border-radius: 50%; background: rgba(23, 155, 157, 0.10); line-height: 72px; border-radius: 100%;
display: inline-block;}
.count-box:hover, .count-box.active{transform: translateY(-10px); box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 10%); background: #179A9D; color: #fff;}
.count-box:hover .count-box-img, .count-box.active .count-box-img{background: #fff;}
.count-box:hover h2 span, .count-box.active h2 span{color: #fff !important;}
.brd-top-right-rd300{border-top-right-radius: 300px;}
.gallery-box{position: relative; margin-bottom: 30px; overflow: hidden; border-radius: 10px; border-top-right-radius: 72px; box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 10%);}
.gallery-box img{height: 212px; object-fit: cover;}
.gallery-box-overlay{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0;
transition: all 0.3s ease-in-out 0s; background: linear-gradient(to right, rgba(23, 155, 157, 0.9) 2%, rgba(41, 109, 104, 0.9) 82%);}
.gallery-box:hover{box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 16%);}
.gallery-box:hover .gallery-box-overlay{opacity: 1;}
.gallery-box-overlay h5{position: absolute; top: 100%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%); text-align: center; width: 90%; transition: all 0.3s ease-in-out 0s; color: #fff; text-transform: capitalize; font-size: 16px;}
.gallery-box:hover .gallery-box-overlay h5{top: 50%;}
.blog-img{position: relative; overflow: hidden;}
.blog-img img{width: 100%; height: 300px; object-fit: cover; transition: all 0.3s ease-in-out;}
.blog-box:hover .blog-img img{transform: scale(1.3);}
.blog-date{position: absolute; width: 70px; height: 70px; border-radius: 5px; border-top-right-radius: 30px; background: rgba(41, 109, 104, 0.5); color: #fff;
left: 20px; bottom: 20px; text-align: center; padding-top: 15px;}
.blog-date b{font-size: 24px; display: block;}
.blog-content{padding: 20px;}
.blog-content h3{font-size: 22px; letter-spacing: 0px; font-weight: 700; margin-bottom: 12px;}
.blog-content p, .news-box p{display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;}
.readMore{color: #179A9D;}
.readMore i{padding-left: 5px; transition: all 0.3s ease-in-out;}
.readMore:hover i{padding-left: 12px; opacity: 0;}
.news-box{position: relative; overflow: hidden; border-bottom: 1px solid #ddd; padding-bottom: 20px; padding-left: 100px; margin-bottom: 20px;}
.news-box .news-date{background: #179A9D; border-radius: 10px; border-top-right-radius: 30px; text-align: center;
color: #fff; width: 80px; height: 80px; position: absolute; left: 0px;}
.news-box .news-date b{font-size: 24px; display: block; padding-top: 18px;}
.news-box h4{margin-bottom: 10px;}
.news-box h4:hover{color: #179A9D;}
footer{background: #F2F7F3; padding-top: 70px; padding-bottom: 15px;}
footer img{max-height: 100px;}
footer h5{margin: 30px 0px 20px; color: #179A9D; font-weight: 700; font-size: 18px;}
footer a:hover, footer a.active{color: #179A9D;}
footer ul li{line-height: 30px;}
footer i{margin: 0px 5px; color: #5A6671;}
footer i:hover{color: #179A9D;}
footer p span{color: #179A9D;}
.enquire-now{width: 100%; max-width: 600px; background: #F2F7F3; border-radius: 10px; overflow: hidden; position: relative; padding: 20px;}
.enquire-now h4, .reachus h4{font-weight: 700; font-size: 20px; margin-bottom: 10px; color: #179A9D;}
.enquire-now i{position: absolute; top: 10px; right: 10px; width: 35px; height: 35px; text-align: center; line-height: 35px; background: #296D68; color: #fff;
border-radius: 50%;}
.enquire-now p, .reachus p{margin-bottom: 10px !important;}
.enquire-now .form-control, .reachus .form-control{border: 1px solid #ddd; margin-bottom: 10px;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; }
.enquire-now .form-group, .reachus .form-group{margin-bottom: 0px;}
#enquire, #enquire_wrapper, #enquire_background { transition: all 0.3s;}

/* ////////////////// inner page styles   ////////////////////// */

.inner-heading{background: url(../images/inner-bgm.png) #296D68; color: #fff;}
.inner-title ol{list-style: none; margin-bottom: 0px;}
.inner-title ol li{display: inline-block;}
.inner-title ol i{padding: 0px 10px;}
.inner-title ol li a:hover{text-decoration: underline;}
.contact-icon{min-height: 196px; background: #fff; box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 5%); padding: 20px; border-radius: 10px; border-top-right-radius: 72px; text-align: center;
 margin-bottom: 30px; }
.contact-icon h5{font-size: 18px; margin-bottom: 10px;}
.contact-icon i{margin-bottom: 20px; font-size: 2rem; color: #179A9D;}
.contact-map{width: 100%; height: 350px; filter: grayscale(100%);}
.aboutus .our-story-img{margin: 30px 0px; border-top-right-radius: 180px;}
.aboutus h4{line-height: 32px;}
.aboutus h4 b{color: #179A9D;}
.mission-box{background: #fff; padding: 20px; box-shadow: 0px 4px 15px 4px rgb(0 0 0 / 5%); border-radius: 10px; border-top-right-radius: 72px; margin-bottom: 20px;}
.mission-box h4{color: #179A9D; font-weight: 700; margin-bottom: 10px;}
.vision-box{background: #296D68; color: #fff;}
.vision-box h4{color: #fff;}
.why-choose-us li{margin-bottom: 20px;}
.why-choose-us li i{width: 35px; height: 35px; line-height: 35px; background: #179A9D; border-radius: 50%; color: #fff;
text-align: center; margin-right: 10px;}
#filters { padding: 0; list-style: none; text-align: center; margin: 20px 0px; margin-bottom: 40px; width: 100%;  }
#filters li { display: inline-block; margin: 0px 5px; cursor: pointer;}
#filters li span { position: relative; outline: none; color: #000; font-size: 14px; text-transform: capitalize; background: none;
border: none; padding: 10px 24px; display: block; background: #F2F7F3; min-width: 120px; border-radius: 5px; border-top-right-radius: 30px;} 
#filters li span.active, #filters li span:hover { background:#179A9D; color: #fff;}
#portfoliolist .portfolio, #productlist .product {  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  -o-box-sizing: border-box;  display: none; float: left;  width: 23%; margin: 1%;}
.franchisee-box{margin-top: 30px;}
.franchisee-img img{width: 100%; height: 230px; object-fit: cover;}
.franchisee-box h3{font-size: 20px; font-weight: 700; color: #179A9D; margin-bottom: 10px;}
.franchisee-box ul li{padding-left: 30px; position: relative; margin-bottom: 5px;}
.franchisee-box ul li i{position: absolute; left: 0px; color: #296D68; top: 5px;}
.projects .product-box{margin-bottom: 30px;}
.project-details h4{font-weight: 700; margin-bottom: 12px;}
.project-details h6{line-height: 24px;}
.project-details ul{margin: 20px 0px;}
.project-details ul li{padding-bottom: 10px;}
.project-details ul li i{width: 30px; height: 30px; line-height: 30px; background: #179A9D; border-radius: 50%; color: #fff; text-align: center; margin-right: 10px;}
.project-details h6{font-size: 16px;}
.project-details .our-story-img{margin-top: 0px;}
.project-details .our-story-img img{width: 100%; height: 500px; object-fit: cover;}
.project-details h5{font-size: 20px; margin-bottom: 20px;}
.sticky{position: sticky; top: 100px;}
.product-list{overflow: visible;}
.product-list #filters{margin: 0px;}
.product-list #filters li{display: block; margin: 2px 0px;}
.product-list #filters li span{border-radius: 5px;}
.product-list .product-image img{height: 150px; width: 100%;}
#productlist .product{width: 31.3%;}
.product-list .product-content{padding: 10px;}
.product-list .product-content h5{font-size: 14px; color: #000; margin-bottom: 8px;}
.product-list .product-content p{font-size: 12px; margin-bottom: 8px;}
.zero{margin: 0px; padding: 0px;}
.inner-product{padding: 0px;}
.inner-product-overlay{position: absolute; left: 30%; top:50%; transform: translate(-50%, -50%); color: #fff; width: 50%;}
.inner-product-overlay h5{text-transform: uppercase; font-size: 22px;}
.inner-product-overlay h2{font-size: 42px; text-transform: uppercase; font-weight: 700;}
.product-details .bt-secondary{width: 100%;}
.product-details{overflow: visible;}
.product-details h5{font-weight: 700; margin-bottom: 15px; color: #179A9D; text-transform: uppercase;}
.product-details h6{font-weight: 700; margin-bottom: 15px;}
.product-details ul li, .blog-details .blog-content ul li{position: relative; padding-left: 25px; padding-bottom: 6px;}
.product-details ul li::before, .blog-details .blog-content ul li::before{ font-family: "Font Awesome 5 Free"; font-weight: 900; color: #179A9D; content: "\f1ce";
position: absolute; left: 0px; top: -2px;}
.product-details-img{border-radius: 10px; margin: 20px 0px; overflow: hidden;}
.line-1{width: 80px; height: 2px; background: #179A9D; margin-bottom: 20px;}
.line-2{width: 50px; height: 2px; background: #179A9D;}
.blogs h4{margin-bottom: 10px; font-weight: 700;}
.recent-blogs{border-bottom: 1px dotted #ddd; padding-bottom: 20px; margin-bottom: 20px; display: block;}
.recent-blogs h6{line-height: 24px; margin-bottom: 10px; }
.recent-blogs h6:hover{color: #179A9D;}
.recent-blogs p{ color: #999; font-size: 12px;}
.blogs button{border: none; background: rgba(23, 155, 157, 0.2); padding: 8px 14px; border-radius: 4px; font-size: 14px;
margin: 4px;}
.blogs button:hover{background: rgba(23, 155, 157, 0.5);}
.blogs .blog-box, .blog-details .blog-box{margin-bottom: 20px;}
.blog-details .blog-content p{display: block; text-align: justify;}
.blog-details .blog-content h6{font-weight: 700; margin-bottom: 10px;}
.blog-details .bt-main{min-width: auto;}
.blog-details .bt-main:hover{background: #179A9D; color: #fff;}
.news .nav-tabs{margin-bottom: 20px; border: none;}
.news .nav-tabs li a{background: #F2F7F3; padding: 10px 20px;margin: 1px; position: relative; font-size: 16px;}
.news .nav-tabs li.active a{background: #296D68; color: #fff;}
.event-box{display: flex; flex-wrap: wrap; margin-top: 20px; padding-bottom: 20px; border-bottom: 1px dotted #ddd;}
.event-date{margin-right: 2%; width: 10%;}
.event-date h3{font-size: 30px; font-weight: 700;}
.event-image{margin-right: 2%; width: 30%; position: relative; overflow: hidden; border-radius: 8px;}
.event-content{width: 56%;}
.event-image img{border-radius: 8px; height: 200px; object-fit: cover; width: 100%;}
.event-content h4{margin-bottom: 10px;}
.event-content h6{margin-bottom: 10px; font-weight: 700; color: #296D68;}
.event-image:hover img{transform: scale(1.3);}
.news .news-box{min-height: 100px;}
.news .news-box p{display: block;}
